<%- include('header'); -%>

        <h1><p align= 'center'>
            Hello, 
            <a href="/api/login/<%= username %>">
                 <%= username %>
            </a></p>
           <br> Click on your username to view your details. 
        </h1>
        <h3> <a href="/api/catalog">You can browse through our <b><i>Catalog</i></b> by clicking here.</a></h3>
        <br>


    <%- include('footer'); -%>