<%- include('header'); -%>

<div class='content'>
    <h1>Name</h1>
    <h3>ABoy</h3>
    <h3>QWERTY</h3>
    <br>
    <h1>Address</h1>
    <h3>HWU Uni</h3>
    <h3>Uni HWU</h3>
    <br>
    <h1>Phone</h1>
    <h3>0505593347</h3>
    <h3>0509876543</h3>
    <br>
    <h1>Email</h1>
    <h3>aboy123@gmail.com</h3>
    <h3>qwerty@gmail.com</h3>
</div>

<%- include('footer'); -%>