<%- include('header'); -%>
<br>
<br>
        <h1>
            Login Failed. Username you entered is --> "  <%= username %>  " 
        </h1>
        <h2> <a href="/register">If you are not a member, <b><i>Register</i></b> by clicking here !!!</a></h2>

    <h2><b>If you are a member already the password you entered is wrong</b></h2>
        <br>
<br>
<br>
    <%- include('footer'); -%>