<%- include('header'); -%>
 <div class="content">
        <H1 ID="welcome">WELCOME to Webstore</H1>
 <br>
        <h3>This is created by Raj Dinesh Jagasia</h3>
        <br>
        <br>
 </div>
<%- include('footer'); -%>