<%- include('header'); -%>

<BR>
        <BR>

<form method="post" action="/api/login">

    <label>Username : </label>
    <input type="text" name="username" placeholder="Enter your Username"> <br>
    <br>
    <label>Password : </label>
    <input type="password" name="password" placeholder="Enter your Passsword"> <br>
    <br>
    <button> SUBMIT </button>

</form>
<BR>
        <BR>

    <%- include('footer'); -%>


