<%- include('header'); -%>

    <div class='content'>
        <h1>
            Registration Failed. Username --> "  <%= username %>  " <-- already taken!
        </h1>
        <h3 ><a href="/register">Click here to try again</a> </h3>
        <br>
    </div>

    <%- include('footer'); -%>